package {{package}}

{{#imports}}import {{import}}
{{/imports}}

{{#models}}
import scala.reflect.BeanProperty

{{#model}}
case class {{classname}} (
  {{#vars}}

  {{#description}}/* {{description}} */  
  {{/description}}
  {{name}}: {{^required}}Option[{{/required}}{{datatype}}{{^required}}]{{/required}}{{#hasMore}},{{newline}}  {{/hasMore}}
  {{/vars}}
)
{{/model}}
{{/models}}