    {{newline}}
    {{#allParams}}
    {{#pathParameter}}
      val {{paramName}} = params.getOrElse("{{paramName}}", halt(400))
    {{/pathParameter}}

    {{#queryParameter}}
      val {{paramName}} = params.getAs[{{dataType}}]("{{paramName}}")
    {{/queryParameter}}

    {{#headerParameter}}
      val {{paramName}} = request.getHeader("{{paramName}}")
    {{/headerParameter}}

    {{#bodyParameter}}
      val {{paramName}} = parsedBody.extract[{{dataType}}]
    {{/bodyParameter}}
    {{/allParams}}


    {{className}}Service.{{nickname}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}})